.login .content .dialog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: scale(1);
    opacity: 1;

    transition: all var(--easeOutCubic) var(--animation-speed);
}
.login .content .fadable {
    transition: all var(--easeOutCubic) var(--animation-speed);
}
.login .content.hide .dialog {
    transform: scale(0.8);
    opacity: 0;
}
.login .content.hide .fadable {
    opacity: 0;
}

.login .content .dialog .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 200px;
}
.login .content .dialog .user .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.login .content .dialog .user .inputs .login-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.login .content .dialog .user .user-picture {
    width: 200px;
    height: 200px;
    border-radius: 999px;
}
.login .content .dialog .user .user-input,
.login .content .dialog .user .button {
    box-sizing: border-box;

    text-align: center;
    border-radius: 99px;
    padding: 12px;
    color: var(--foreground-color);
    background: hsla(0, 0%, 0%, 0.2);
    border: none;

    outline: 0px transparent solid;
    outline-offset: 4px;

    transition: all calc(var(--animation-speed) / 2);
}
.login .content .dialog .user .user-input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
}
.login .content .dialog .user .button {
    padding: 12px;
    line-height: 0;
    cursor: pointer;
}
.login .content .dialog .user .user-input {
    width: 100%;
}
.login .content .dialog .user #user-message {
    line-height: 0;
    overflow: hidden;

    transition: all calc(var(--animation-speed) / 2);
}
.login .content .dialog .user #user-message.reveal {
    line-height: 2.5;
}
.login .content .dialog .user .user-input[type=button] {
    width: 60%;
    cursor: pointer;
}
.login .content .dialog .user .user-input:hover,
.login .content .dialog .user .button:hover {
    background: hsla(0, 0%, 0%, 0.4);
    box-shadow: transparent;
}
.login .content .dialog .user .user-input[type=button]:disabled,
.login .content .dialog .user .button:disabled {
    opacity: .5;
}
.login .content .dialog .user .user-input[type=button]:active,
.login .content .dialog .user .button:active {
    transition-duration: 0s;
    box-shadow: inset 0 0 0 999px hsla(0, 0%, 100%, 0.2);
}
.login .content .dialog .user .user-input:focus {
    outline-width: 2px;
    outline-color: hsla(0, 0%, 100%, 0.5);
    outline-offset: 0px;
}
.login .content .dialog .user .user-input.fail {
    box-shadow: inset 0 0 0 999px hsla(0, 100%, 50%, 0.1);
}
.login .content .dialog .user .user-input.shake {
    animation: shake var(--animation-speed);
}
.login .content .dialog .user .user-input.fail:focus {
    outline-width: 2px;
    outline-color: hsla(0, 100%, 50%, 0.5);
    outline-offset: 0px;
}
.login .content .dialog .user.inactive {
    opacity: 0.5;
}
.login .content .dialog .user.inactive .user-input {
    visibility: hidden;
    opacity: 0;
}
.login .content .dialog .user .recovery-link {
    color: var(--foreground-color);
}

@keyframes shake {
    0% { transform: translate(0); }
	20% { transform: translate(0.5em); }
	40% { transform: translate(-0.5em); }
	60% { transform: translate(0.5em); }
	80% { transform: translate(-0.5em); }
    100% { transform: translate(0); }
}


.login .system-status {
    display: flex;
    gap: 10px;

    position: absolute;
    bottom: 0;
}

.login .system-item {
    display: flex;
    align-items: center;

    background: hsla(0, 0%, 0%, 0.4);

    cursor: pointer;
    transition: all calc(var(--animation-speed) / 2);

    padding: 8px;
    border-radius: 999px;
}
.login .system-item:hover {
    background: hsla(0, 0%, 0%, 0.5);
}
.login .system-item:active {
    background: hsla(0, 0%, 0%, 0.6);
}
.login .system-item span {
    line-height: 2;
    padding-inline: 0;
    text-align: center;
}
.login .system-item.revealable {
    position: relative;
}
.login .system-item.revealable * {
    transition: all calc(var(--animation-speed) / 2);
}
.login .system-item.revealable > span {
    position: absolute;
    left: 0;
    opacity: 0;
    padding: 8px;
}
.login .system-item.revealable:hover > img,
.login .system-item.revealable:hover > .indicator {
    opacity: 0;
}
.login .system-item.revealable:hover > span {
    opacity: 1;
}
.login .system-item.layout span {
    min-width: 32px;
    padding-inline: 8px;
}

.login .system-info {
    display: flex;
    gap: 10px;

    position: absolute;
    bottom: 0;
    right: 0;
}

.login .system-item.clock {
    padding-inline: 16px;

    line-height: 2;
}
.login .system-item.session {
    padding-inline: 12px;
    gap: 8px;
}
.login .system-item.session .name {
    padding-inline-end: 6px;
}
.login .system-item.session .icon,
.menus#session-menu .icon {
    width: 32px;
    height: 32px;
}
.login .system-item.battery .indicator {
    display: inline-block;

    position: relative;
    width: 32px;
    height: 32px;
}
.login .system-item.battery .indicator * {
    position: absolute;
    top: 0;
    bottom: 0;

    padding: 0 !important;
}
.login .system-item.battery .indicator .bar {
    width: 17px;
    height: 10px;

    top: 11px;
    left: 6px;

    border-radius: 1px;

    background: white;
}