@import url('normalize.css');
@import url('inter.css');
@import url('easings.css');
@import url('menus.css');
@import url('screen.css');
@import url('popup-dialog.css');
@import url('lock-dialog.css');
@import url('login-dialog.css');

:root {
    --background-color: black;
    --foreground-color: whitesmoke;
    --animation-speed: 0.5s;
    --blur-strength: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: fixed;

    font-size: 1rem;
    font-family: 'Inter', 'Roboto', sans-serif;
}

body {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
    scrollbar-width: none;

    color: var(--foreground-color);
    background-color: var(--background-color);
}

a {
    color: #3f79f1;
    text-decoration-color: transparent;

    transition: all ease calc(var(--animation-speed) / 2);
}
a:hover {
    text-decoration-color: unset;
}

.switcher {
    display: flex;
    gap: 2px;
    overflow: hidden;

    border-radius: 6px;

    background: hsla(0, 0%, 100%, .1);
}
.switcher .item {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 20px;
    min-width: 40px;

    text-align: center;

    border-radius: 0;
}
.switcher .item.active {
    background: hsla(0, 0%, 100%, .1);
}

input[type="range"] {
    appearance: none;
    background: transparent;

    --webkitProgressPercent: 0%;
}

input[type="range"]::-webkit-range-runnable-track,
input[type="range"]::-moz-range-track {
    background: hsla(0, 0%, 100%, .1);
    background-image: linear-gradient(
        90deg,
        #3f79f1 var(--webkitProgressPercent),
        hsla(0, 0%, 100%, .1) var(--webkitProgressPercent)
    );
    height: 6px;
    border-radius: 99px;
}
input[type="range"]::-moz-range-progress,
input[type="range"]::-ms-fill-lower {
    appearance: none;
    height: 6px;
    border-radius: 99px;
    background: #3f79f1;
}
input[type="range"]::-webkit-range-thumb,
input[type="range"]::-moz-range-thumb {
    appearance: none;

    height: 16px;
    width: 16px;

    background: hsla(0, 0%, 100%);
    border: none;

    border-radius: 99px;
}